/*********
The following section is the header and remains
the same across most pages
*********/
body{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.nav {
  background-color:#000; 
  padding: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.nav .arrow{
  height: 30px;
  width: auto;
  float: left;
}

.nav .menu{
  height: 30px;
  width: auto;
  float: right;
}

.nav h1{
  text-align: center;
  color: #fff;
  display: inline;
}

.nav p {
  display: inline;
  background-color: white;
  margin-left: 25px
}

.tab-bar li {
  display:inline;
  margin-left: -3px;
  border: 1px solid black;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  font-size:25px;
}

.tab-bar a {
  text-decoration: none;
  color: #000;
}

/*********
The previous section is 
the same across most pages
*********/



.student-names ul a{
text-decoration:none;
  color:#000;
}

.student-names ul{
list-style-type:none;
  padding:0px;
}

.student-names ul li{
  padding: 10px;
  border: 3px solid black;
}

.add-new {
  background:black;
  color: white;
}

.add-new p {
  display:inline;
  padding: 30px;
  margin-left: 20px;
  margin-right: 55px;
}
