/* ==================== STYLESHEET CSS ==================== */
/*********
The following section is 
the same across most pages

RATCHET OVERRIDES
*********/
.add-file {
  clear: both;
  margin-top:  100px;
  background-color: #00BCD4;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.add-new {
  background:black;
  color: white;
}

.addnew-label {
  float: left;
}

.addnew-symbol {
  text-align: right;
}

.add-new p {
  display:inline;
  padding: 30px;
  margin-left: 20px;
  margin-right: 55px;
}
.alert-form{
  text-align: center;
}

.bar .bar-nav h1 {
  color: white;
}

.bar-header-secondary {
  border: 0px;
  background-color: #00BCD4;
}

.bar-nav {
  background-color: #00BCD4;
  border: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}


.btn-block {
  padding: 10px;
  background-color: #0097a7;
}

.btn-positive {
  background-color: #0097a7;
}

.document img{
  height: 450px;
  width: 410px;

}

.exit{
  height: 30px;
}

.exit a{
  text-decoration: none;
  color: #fff;
  text-align: center; 
}

.files li{
  padding: 15px;
  border: 5px solid black;
}

.files ul a{
  text-decoration: none;
  color: #000;  
}


.icon-left-nav, .bar .btn-link {
  color: #77FF03;
}

.icon-plus {
  color: #77FF03;
}

.nav {
  position: absolute;
  background-color:#00BCD4; 
  padding: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.nav .arrow{
  height: 30px;
  width: auto;
  float: left;
}


.nav .menu{
  height: 30px;
  width: auto;
  float: right;
}

.nav h1{
  text-align: center;
  color: #fff;
  display: inline;
}

.nav p {
  display: inline;
  background-color: white;
  margin-left: 25px
}

.new button{
  height: 20px;
  width: auto;
}

.profile-img img {
  clear: both;
  float: left;
  margin-right: 25px;
  height: 180px;
  width: 180px;
}

.profile-summary {
  padding-top: 25px;
}


.tab-bar li {
  display:inline;
  margin-left: -3px;
  border: 1px solid black;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  font-size:25px;
}

.tab-bar a {
  text-decoration: none;
  color: #000;
}

.send-alert {
  text-align: center;
}

.summary {
  margin-top: 25px;
  margin-bottom:  50px;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}

.tab-bar a {
  text-decoration: none;
  color: #000000;
}

.tab-bar li {
  display:inline;
  margin-left: -3px;
  border: 1px solid black;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  font-size:25px;
}

.tab-content {
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#ddd;
}

.tab-links a {
  padding:9px 15px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background:#7FB5DA;
  font-size:16px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
}

.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links a:hover {
  background:#a7cce5;
  text-decoration:none;
}

.tab-links li {
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tabs {
  width:100%;
  display:inline-block;
}

ul {
  list-style-type: none;
  padding: 0px;
}

----


.member-names ul a{
  text-decoration:none;
  color:#000;
}

.member-names ul{
  list-style-type:none;
  padding:0px;
}

.member-names ul li{
  padding: 10px;
  border: 3px solid black;
}


.pop-up {
  background-color: black;
}



/* MODALS */

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  */pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog  div {
  width: 80%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: #00d9ff; }  
}
/* End of modals */