body{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.nav{
	height: 30px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.document{
	background-color: #000;
	height: 500px;
	width: 410px;
	padding: 19px;
}

img{
	height: 500;
	width: auto;

}


.exit{
	height: 30px;
	background-color: #000;

}
.exit a{
	text-decoration: none;
	color: #fff;
	text-align: center; 
}
