    <widget id="intersum" version="0.0.1">
        <name>Intersum</name>
        <description>
            An app that helps group members and group leaders to efficently collaborate.
        </description>
        <author email="teamintersum@gmail.com" href="http://phonegap.com">
            Intersum Team
        </author>
        <content src="index.html" />
        <access origin="*" />
    </widget>
